* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.cart {
  width: 100%;
  padding: 20px 30px;
}
.cart h3 {
  font-size: 32px;
  text-transform: uppercase;
  color: #232323;
  letter-spacing: 1px;
}
.cart .empty_cart {
  width: 100%;
}
.cart .empty_cart h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #232323;
  font-size: 18px;
}
.cart .empty_cart button {
  padding: 10px 30px;
  margin-left: 45%;
  margin-top: 10px;
  background-color: #fed700;
  color: #cd176c;
  border: 1px solid #fed700;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}
.cart .container {
  max-width: 100%;
  padding: 10px 20px;
}
.cart .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #f6f6f6;
  width: 100%;
  margin-top: 10px;
  height: 250px;
}
.cart .container .box .img_box img {
  height: 100%;
  width: 270px;
}
.cart .container .box .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-left: 30px;
}
.cart .container .box .detail .info {
  margin-top: 40px;
  margin-left: 30px;
}
.cart .container .box .detail .info h4 {
  text-transform: uppercase;
  font-size: 14px;
  color: #8a8a8a;
}
.cart .container .box .detail .info h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 1px;
  margin-top: 10px;
}
.cart .container .box .detail .info p {
  margin-top: 10px;
  color: #232323;
  text-transform: uppercase;
}
.cart .container .box .detail .quantity {
  margin-top: 60px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cart .container .box .detail .quantity button {
  height: 30px;
  background: #fed700;
  color: #232323;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
.cart .container .box .detail .quantity input {
  height: 30px;
  padding: 10px 20px;
  outline: none;
  border: 2px solid #fed700;
  color: #cd176c;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
}
.cart .container .box .detail .icon {
  margin-top: 70px;
  margin-left: 40px;
  width: 40px;
}
.cart .container .box .detail .icon li {
  list-style: none;
  background: #cd176c;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px;
}
.cart .bottom {
  margin-left: 30px;
}
.cart .bottom .Tatal h4 {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: #cd176c;
}
.cart .bottom button {
  border: none;
  padding: 10px;
  background: #fed700;
  color: #232323;
  font-weight: 600;
  font-size: 16px;
  margin-top: 20px;
  text-transform: capitalize;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .cart .container .box {
    display: block;
  }
  .cart .container .box .img_box {
    margin-top: -56px;
  }
  .cart .container .box .img_box img {
    width: 200px;
    margin-left: 100px;
  }
  .cart .container .box .detail {
    display: block;
  }
  .cart .container .box .detail .info {
    margin-top: -83px;
    margin-left: 1px;
  }
  .cart .container .box .detail .quantity {
    margin-top: -55px;
    margin-left: 140px;
  }
  .cart .container .box .detail .quantity button {
    height: 22px;
    padding: 5px 10px;
  }
  .cart .container .box .detail .quantity input {
    padding: 0 1px;
    width: 35px;
    height: 22px;
  }
  .cart .container .box .detail .icon {
    margin-top: -162px;
    margin-left: 276px;
  }
  .cart .container .box .detail .icon li {
    padding: 7px 12px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .cart .container .box {
    display: block;
  }
  .cart .container .box .img_box {
    margin-top: -56px;
  }
  .cart .container .box .img_box img {
    width: 200px;
    margin-left: 100px;
  }
  .cart .container .box .detail {
    display: block;
  }
  .cart .container .box .detail .info {
    margin-top: -83px;
    margin-left: 1px;
  }
  .cart .container .box .detail .quantity {
    margin-top: -35px;
    margin-left: 200px;
  }
  .cart .container .box .detail .icon {
    margin-top: -192px;
    margin-left: 438px;
  }
  .cart .container .box .detail .icon li {
    padding: 7px 12px;
  }
}
/*# sourceMappingURL=cart.css.map */